<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- Making sure every page has the required stylesheets and responsive meta tag -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Rayan's Online Portfolio{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/static/styles.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <div class="bg container-fluid">
            <!-- A navbar at the top of every page -->
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item px-5">
                                <a class="nav-link" href="/" id="home">Home</a>
                            </li>
                            <li class="nav-item px-5">
                                <a class="nav-link" href="/about" id="about">About</a>
                            </li>
                            <li class="nav-item px-5">
                                <a class="nav-link" href="/projects" id="projects">Projects</a>
                            </li>
                            <li class="nav-item px-5">
                                <a class="nav-link" href="/contact" id="contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav>
            <!-- A header which can be slightly modified for each page -->
            <div class="container-fluid d-flex justify-content-center align-items-center flex-column heading">
                <h1>Rayan's Online Portfolio</h1>
                <h5>{% block page %}{% endblock %}</h5>
            </div>
            {% block body %}{% endblock %}
        </div>
        <!-- Bootstrap script for every page -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>