{% extends "layout.html" %}

{% block page %}Projects{% endblock %}

{% block body %}
<div class="container">
    <p>While I was learning to code in the summer of 2022, multiple people told me that the best way to learn was to do different coding projects. So as I was learning different things from online courses, I tried to implement that knowledge in the projects below. As you will see below, I wanted to carry out a variety of projects so I could learn about the different applications of coding and discover what I enjoyed doing. This page contains a short description about each project. If you would like to learn more about a particular project or see the code I wrote for it, you can visit the project's GitHub Repository which is linked to the name of each project. The projects are displayed in chronological order, from the one I started most recently down to my first ever coding project.</p>
    <!-- Accordion will keep each project explanation so page is not too long -->
    <div class="accordion" id="accordionExample">
        <div class="accordion-item bg-transparent border-dark">
            <h2 class="accordion-header border-dark" id="headingOne">
                <button class="accordion-button collapsed bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    This Website
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p><h3><a class="link-dark" href="#">This Website</a></h3></p>
                    <p>My latest project so far is this website, my online portfolio. I wanted to create a place where I could put all my hard work on display because a lot of the details that are included about projects on this website need to be left out on Resumes and other types of applications. Creating this taught me a lot about webpage design with HTML and CSS. It also made me more familiar with the different things I could do with Bootstrap. The back end for this website was relatively simple, although I did learn how to send emails from a web app (check out the Contact page).</p>
                </div>
            </div>
        </div>
        <div class="accordion-item bg-transparent border-dark">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    myJim
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p><h3><a class="link-dark" href="#">myJim</a></h3></p>
                    <p>myJim is a web app I am working on which allows people to create accounts, track their progress in the gym, and see the progress visually in the form of graphs that are generated by the data they input. I am using Python, Flask, and SQL along with HTML, CSS, and Javascript to implement this idea. So far, my main focus has been on getting the back end of the web app working which I have essentially finished. At this point users can register, login, and logout. They can also add data about the different exercises, weight, and reps they did on different days to an SQL database where the data for the web app is stored.</p>
                    <div class="container py-3"><p><img src="../static/myJim.png" class="img-fluid mx-auto"></p></div>
                    <p>Furthermore, they can see their progress over time visually with graphs generated by the matplotlib module for Python from the data in the SQL database.</p>
                    <div class="container py-3"><p><img src="../static/myJim3.png" class="img-fluid mx-auto"></p></div>
                    <p>I still need to make sure that users cannot mess up the web app with bad inputs into forms. However before I do that, I want to shift my focus onto the front end of the web app and make it look better.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item bg-transparent border-dark">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Harvest Havoc
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p><h3><a class="link-dark" href="#">Harvest Havoc</a></h3></p>
                </div>
            </div>
        </div>
        <div class="accordion-item bg-transparent border-dark">
            <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Blackjack
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p><h3><a class="link-dark" href="#">Blackjack</a></h3></p>
                </div>
            </div>
        </div>
        <div class="accordion-item bg-transparent border-dark">
            <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    34
                </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p><h3><a class="link-dark" href="#">34</a></h3></p>
                </div>
            </div>
        </div>
        <div class="accordion-item bg-transparent border-dark">
            <h2 class="accordion-header" id="headingSix">
                <button class="accordion-button collapsed bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    Cipher
                </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p><h3><a class="link-dark" href="#">Cipher</a></h3></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let element = document.querySelector("#projects")
    element.classList.add("active")
    element.setAttribute("aria-current", "page")

    /* Javascript to make changes to accordion button background when item is collapsed or open */
    let accordion = document.querySelectorAll(".accordion-button");
    const observer = new MutationObserver(function(mutations) {
        mutations.forEach(function(mutation) {
            mutation.target.classList.toggle("bg-transparent")
            mutation.target.classList.toggle("text-dark")
            observer.disconnect()
        });
        accordion.forEach(function(a) {
            observer.observe(a, {
            attributes: true,
            attributeFilter: ["class"]
            });
        });
    });
    accordion.forEach(function(a) {
        observer.observe(a, {
        attributes: true,
        attributeFilter: ["class"]
        });
    });
</script>
{% endblock %}